*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-style: normal;
    font-family: 'Montserrat';
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A3B49;
    column-gap: 10px;
}

nav {
    display: flex;
    column-gap: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.pixify {
    color: #7BFFE9;
    padding-left: 15px;
}

.darkmode {
    color: #7BFFE9; 
    padding-right: 15px;
}





main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    margin: 15px 0px;
    font-weight: bold;
}

main h3 {
    margin-bottom: 15px;
}

main p {
    margin: 15px 0px;
}


main button {
    color: #7BFFE9;
    background-color: #2A3B49;
    padding: ;
    width: 116px;
    height: 35px;
    border-radius: 60px;
    
}

.button-container {
    display: flex;
    column-gap: 10px;
}